@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SignPainter-HouseScript';
  src: url('../assests/font/SignPainter-HouseScript-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Simple';
  src: url('../assests/font/Montserrat-Light.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assests/font/FontsFree-Net-Montserrat-SemiBold.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('../assests/font/montserrat.ttf');
  font-weight: 900;
  font-style: normal;
}

.black {
  font-family: 'Montserrat Bold' !important;
}
.semi-bold {
  font-family: 'Montserrat Simple' !important;
}

/* Scroll bar Override */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #0f212e;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffffff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}

body {
  background-color: #161d29;
  font-family: 'Montserrat';
}

/* table {
  border-collapse: collapse;
  border-collapse: separate;
  border-spacing: 0 4px;
} */

/* Set border-radius on the top-left and bottom-left of the first table data on the table row */
td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

/* Set border-radius on the top-right and bottom-right of the last table data on the table row */
td:last-child,
th:last-child {
  border-radius: 0 10px 10px 0;
}

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-color-primary-50: 74 226 136;
  --tw-color-primary-100: 183 192 216;
  --tw-color-primary-200: 201 132 39;
  --tw-color-primary-300: 46 82 94;
  --tw-color-primary-400: 84 75 241;
  --tw-color-primary-500: 33 55 67;
  --tw-color-primary-600: 27 40 56;
  --tw-color-primary-700: 40 51 69;
  --tw-color-primary-800: 52 66 88;
  --tw-color-primary-900: 22 29 41;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #4ae288 */
  --color-primary-900: rgb(var(--tw-color-primary-100)); /* #b7c0d8 */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #c98427 */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #2e525e */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #544bf1 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #213743 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #1b2838 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #283345 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #344258 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #161d29 */

  /* #endregion  /**======== Primary Color =========== */
}

input {
  -webkit-appearance: none;
  box-shadow: none !important;
  font-size: 20px;
  font-weight: 800;
}
:-webkit-autofill {
  color: #fff !important;
}

input,
textarea,
button,
select,
a,
svg,
img,
button,
div,
p,
span {
  -webkit-tap-highlight-color: transparent;
}

@layer base {
  /* inter var - latin */
  @font-face {
    font-family: 'Montserrat';
    src: url('../assests/font/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
    font-display: optional;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .p {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-56px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  .d-flex-start {
    display: flex;
    align-items: center;
    justify-content: left;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}

.logoText {
  height: 35px;
  font-family: 'SignPainter-HouseScript';
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.95px;
  text-align: center;
  color: #fff;
}
.navbar {
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.38);
  background-color: #141b2b;
}
.navLink {
  font-family: 'Montserrat';
  font-size: 16.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #fff;
}
.disconnectWallet {
  font-family: 'Montserrat';
  font-size: 16.2px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  text-align: center;
  color: #e9cb70;
}
.navbar .wallet-adapter-button {
  font-family: 'Montserrat' !important;
  font-size: 16.2px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: normal !important;
  letter-spacing: -0.4px !important;
  text-align: center !important;
  color: #e9cb70 !important;
  display: flex !important;
  height: 36px !important;
  align-items: center !important;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: rgb(40, 51, 69) !important;
}
#flipCoinDiv .wallet-adapter-button:not([disabled]):hover {
  background-color: #4ae288 !important;
}

.wallet-adapter-button-start-icon {
  display: none !important;
}

#flipCoinDiv .wallet-adapter-button {
  font-family: 'Montserrat' !important;
  font-size: 22px !important;
  font-weight: 800 !important;
  text-align: center !important;
  color: black !important;
  background-color: #4ae288 !important;
  width: 100% !important;
  justify-content: center !important;
  min-height: 67px !important;
  display: flex !important;
  align-items: center !important;
}

.footer {
  padding: 33px 40px 32px 43.5px;
  background-color: #283345;
}
.footerText {
  opacity: 0.68;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.53px;
  text-align: center;
  color: #fff;
}
.social-icon-cn {
  max-width: 218px;
  max-height: 45px;
  padding: 7px 19px 7px 26px;
  border-radius: 23px;
  background-color: #344258;
}
.coins {
  background: rgb(37, 56, 87);
  background: linear-gradient(
    237deg,
    rgba(37, 56, 87, 1) 2%,
    rgba(24, 34, 51, 1) 52%
  );
  min-height: 200px;
  max-height: max-content;
}
.diamond {
  width: 12px;
  height: 12px;
}

.ellipse {
  white-space: nowrap;
  width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #95f84f;
  border-radius: 50%;
  display: inline-block;
}
.smalldot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
}

.bar {
  margin-top: 125px;
  transition: height 2s ease-in-out;
  transform: rotatex(180deg);
  transform-origin: top;
  margin-right: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #0f212e;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 5px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
}

/* Media Queries of CSS File */
@media (max-width: 768px) {
  .slider::-webkit-slider-thumb {
    width: 45px;
  }
  .footer {
    padding: 33px 0 32px 0;
  }
  .footerText {
    font-size: 4vw !important;
  }
  #flipCoinDiv .wallet-adapter-button {
    font-size: 5vw !important;
    min-height: 45px !important;
    padding: 5vw 0;
  }
  .statsHeading {
    font-size: 5vw !important;
  }
}

/* loader */
.meter {
  box-sizing: content-box;
  height: 50px; /* Can be anything */
  position: relative;
  background: #555;
  border-radius: 25px;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
}
.meter > span {
  display: block;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(43, 194, 83);
  background-image: linear-gradient(
    center bottom,
    rgb(43, 194, 83) 37%,
    rgb(84, 240, 84) 69%
  );
  box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after,
.animate > span > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

.red > span {
  background-image: linear-gradient(#f0a3a3, #f42323);
}

.meter .loaderText {
  position: absolute;
  top: 0;
  translate: ;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.glassGiveAway {
  background: rgba(22, 29, 41, 0.15);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
}
.glass {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(1px);
}
.loadingScreen {
  -webkit-backdrop-filter: blur(32px);
  backdrop-filter: blur(32px);
  background-color: rgba(22, 29, 41, 0);
}

.loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Please wait .... loading */
.bouncing-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncing-loader > div {
  width: 8px;
  height: 8px;
  margin: 0 6px;
  border-radius: 50%;
  background-color: #a3a1a1;
  opacity: 1;
  animation: bouncing-loader 0.6s infinite alternate;
}

@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translateY(-8px);
  }
}

.bouncing-loader > div:nth-child(2) {
  animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  animation-delay: 0.4s;
}

/* ===== Typing Dots Animation */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  16.667% {
    box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  50% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px -10px 0 0 #9880ff;
  }
  100% {
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff,
      10014px 0 0 0 #9880ff;
  }
}

.statsHeadingWhite {
  font-family: 'Montserrat Bold';
  font-size: 26px;
  font-weight: 900;
  letter-spacing: -0.64px;
  text-align: center;
  color: #fff;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-start {
  display: flex;
  align-items: center;
  justify-content: left;
}

.statsHeading {
  font-family: 'Montserrat Bold';
  font-size: 26px;
  font-weight: 900;
  text-align: center;
  color: #4ae288;
}
.biggestWin {
  font-family: 'Montserrat Bold';
  background: -webkit-linear-gradient(79deg, #b056ff 21%, #1ceec7 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#NftImage {
  border-radius: 18px !important;
}
.nft-heading {
  font-family: 'Montserrat Bold';
  font-weight: 900;
  line-height: 1em;
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 2em;
}
.nft-subHeading {
  font-family: 'Montserrat Simple';
  font-weight: 600;
  letter-spacing: -0.19px;
}
